.content-wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #FFFFFF;
    width: 90%;
    max-width: 80rem;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(2, .5rem .5rem 1fr .5rem) .5rem;
    grid-column-gap: .5rem;
    grid-row-gap: 0px;
    justify-items: stretch;
    align-items: stretch;
    margin: .5rem 0rem;
}

.button-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.button-wrapper > button {
    width: 80%;
    font-size: medium;
}

@media only screen and (min-width:800px) {
    .grid-container {
        grid-template-rows: repeat(2, 1.5rem 1.5rem 1fr 1.5rem) 1.5rem;
        grid-column-gap: 1.5rem;
        margin: 2rem 0rem;
    }
    .button-wrapper > button {
        width: 40%;
        font-size: medium;
    }
}