.content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    padding: 2rem;
    text-align: center;
    background-color: #FFFFFF;
}

.button-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.button-wrapper>button {
    width: 70%;
}