.content-wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #FFFFFF;
    width: 90%;
}

.button-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.button-wrapper>button {
    width: 70%;
}

@media only screen and (min-width:800px) {
    .content-wrapper {
        padding: 3rem 5rem;
        width: auto;
    }

}