.floating-container {
    position: fixed;
    bottom: 0;
    right: 0;
    opacity: 1;
    transition: all .75s ease;
}

.floating-container button {
    margin: 0rem;
}


.out {
    opacity: 0;
    transform: translateY(5rem);
}


@media only screen and (min-width: 800px) {
    .floating-container button {
        margin: 1rem 0rem;
    }
}